* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: #333;
  color: rgb(242, 241, 230);
  font-family: "Montserrat", sans-serif;
}

.back-btn {
  margin-bottom: 20px;
}

.App {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 15px;
}
span {
  margin-bottom: 15px;
}

.inputText {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(242, 241, 230);
  color: rgb(242, 241, 230);
  background: none;
}

.next-btn {
  margin-top: 20px;
}

.err-span {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.qimg {
  width: 90%;
  max-width: 500px;
  margin-bottom: 15px;
}
.finalInputsContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inner-final-box {
  min-width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.finalInput {
  position: relative;
  right: 0;
  margin: 6px 0;
  padding: 5px;
  margin-left: 5px;
}

h3 {
  margin-bottom: 15px;
}

.last-span {
  font-size: 12px;
}
